################################################################################
# Visual Studio / .NET
################################################################################
.vs/
.vscode/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
bin/
obj/
Debug/
Release/
x64/
x86/
*.log
*.cache
*.pdb
*.dbmdl
*.mdf
*.ldf
*.ndf
*.publishsettings
*.pubxml
*.publishproj
*.nupkg
*.snupkg
node_modules/
__pycache__/
*.pyc
*.tmp
*.pidb
*.jfm
*.svclog
*.coverage
*.binlog
*.localhistory/
*.DS_Store
Thumbs.db

################################################################################
# Docker
################################################################################
*.dockerignore

################################################################################
# Misc
################################################################################
*.log
*.tmp
